@model JobSearch.Models.JobSearchModel

@{
    ViewData["Title"] = "Details";
}
<style>
   
    /* Style the dl and dt elements */
    dl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 20px;
    }

    dt {
        font-weight: bold;
    }

    /* Style the hr element */
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #ccc;
    }
</style>
<h1>Details</h1>
<br />
<div>
    <h4>These are the details of the Job</h4>
    <br />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmpy_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmpy_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmpy_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmpy_Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Req_exp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Req_exp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placed_emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placed_emp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a class = "btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
